*{

    background-color: #424554;
color: azure;

}
h1{
    margin-left: 115px;
    color: coral;
font-family: 'Dancing Script', cursive;

}
h3{
    margin-left: 130px;
    color: #389d9d;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    font-size: x-large;
    font-style: italic;
}
#name{
    margin-left: 500px;
text-decoration-line: underline;
text-decoration-color: burlywood;
color: aquamarine;
text-decoration-style: double;
border: 9px solid seashell;
padding: 10px;
display: inline-block;
 
}
#ltuc{

position: fixed;
right: 100px;
color: lightcoral;
}
address iframe{
float: right;
width: 50%;
height: 500px;

}